<h1 class="font-extrabold text-5xl">
  <button (click)="onBackButtonClicked()" hlmBtn variant="ghost" size="icon" class="text-muted">
    <ng-icon size="30" name="lucideArrowLeft"/>
  </button>
  Terms And Conditions
</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid, asperiores at atque eius eos ipsa itaque
  necessitatibus neque obcaecati pariatur provident quam quasi quisquam reprehenderit sed, sequi similique tempora, ut
  voluptate. Accusantium, animi aut cum dolore eum eveniet fugiat incidunt iure pariatur, praesentium, quasi sunt.
  Aperiam, asperiores blanditiis corporis, ea eaque labore laboriosam magni numquam officia sit totam velit. A aliquam
  aliquid dolores ex exercitationem illo impedit ipsa itaque, iure iusto laudantium, non nostrum odit officia placeat
  quae quasi qui quis repellat repellendus sequi similique, sit soluta tempora vero. Atque consectetur, fuga minima
  nostrum nulla officiis saepe sequi tempora.
</p>
