<form [formGroup]="form" (ngSubmit)="onFormSubmit($event)" hlmCard>
  <div hlmCardHeader>
    <h1 class="text-xl m-0" hlmCardTitle>Connect to Your Account</h1>
    <p class="text-sm text-muted-foreground">Using</p>
    <div class="flex items-center gap-3">
      @for (method of altAuthMethods; track $index) {
      <button
        size="sm"
        variant="outline"
        class="rounded-full"
        hlmBtn
        type="button"
        (click)="method.handler()"
      >
        <ng-icon [name]="method.icon" size="18" />
        <span>{{ method.label }}</span>
      </button>
      }
    </div>
  </div>
  <brn-separator hlmSeparator />
  <div hlmCardContent class="space-y-3">
    <p class="text-sm text-muted-foreground">Or using your credentials</p>
    <hlm-form-field>
      <input formControlName="username" hlmInput placeholder="Username" />
      <hlm-error>This field is required</hlm-error>
    </hlm-form-field>
        <hlm-form-field>
      <input formControlName="name" hlmInput placeholder="Name">
      <hlm-error>This field is required</hlm-error>
    </hlm-form-field>
    <hlm-form-field>
      <input formControlName="email" hlmInput placeholder="Email address" />
      <hlm-error>
        @if (form.controls.email.hasError('required')) { This field is required
        } @else if (form.controls.email.hasError('email')) { Invalid email
        address }
      </hlm-error>
    </hlm-form-field>
    <hlm-form-field>
      <brn-select formControlName="role" placeholder="Select a Role">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          <hlm-option [value]="null">Select a Role</hlm-option>
          <hlm-option value="user">User</hlm-option>
          <hlm-option value="admin">Admin</hlm-option>
        </hlm-select-content>
      </brn-select>
    </hlm-form-field>
    <hlm-form-field>
      <input
        formControlName="password"
        hlmInput
        placeholder="Password"
        type="password"
        autocomplete="new-password"
      />
      <hlm-error>
        @if (form.controls.password.hasError('required')) { This field is
        required } @else if (form.controls.password.hasError('minlength')) {
        Password must be at least
        {{
          form.controls.password.getError("minlength").requiredLength
        }}
        characters long }
      </hlm-error>
    </hlm-form-field>
  </div>
  <brn-separator hlmSeparator />
  <div hlmCardFooter>
    <div class="space-y-3 w-full">
      <button
        class="block w-full items-center"
        [disabled]="signingUp() || form.invalid"
        type="submit"
        hlmBtn
      >
        <span>Sign up</span>
      </button>
      <div>
        <a
          class="text-sm text-accent-foreground underline"
          routerLink="../login"
          queryParamsHandling="preserve"
          [relativeTo]="route"
          >Sign in instead</a
        >
      </div>
      <p class="text-sm">
        By signing up you are agreeing to our
        <a
          class="text-accent-foreground inline underline"
          routerLink="/terms-and-conditions"
          >Terms & Conditions</a
        >.
      </p>
    </div>
  </div>
</form>
